<!doctype html>
<html lang="en" data-framework="intercoolerjs">
<head>
    <meta charset="utf-8">
    <title>BusTrack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/mapstyles.css">
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
<div id="map"></div>
<script src="/js/leaflet-realtime.min.js"></script>
<script src="/js/map.js"></script>
</body>
</html>